{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Fauna E-Library
  </title>
  <link href="{% static './style.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!-- partial:index.partial.html -->
  <div id="javascript_header">
  </div>
  <form method="POST">
    {% csrf_token %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red;">{{ message }}</li>
      {% endfor %}
    </ul>
   <div class="form__header">
    <h1>
     Add  a new book
    </h1>
    <p>
     Enter the fields below to add a book to the E-library.
    </p>
   </div>
   <h2>
     Book Details
   </h2>
   <div class="form-group">
    <label for="name">
     Book Title
     <span>
      *
     </span>
    </label>
    <input id="title" name="title"  type="text"/>
    <div class="error" id="name__error">
    </div>
   </div>
   <div class="form-group">
    <label for="address">
     Genres
    </label>
    <input id="genres" name="genres"  type="text"/>
   </div>
   <div class="form-group">
    <label for="phone">
     Summary
    </label>
    <input id="summary" name="summary"  type="text"/>
   </div>
   <div class="form-group">
    <label for="email">
     No of Pages
     <span>
      *
     </span>
    </label>
    <input id="pages" name="pages" type="text"/>
   </div>
   <div class="form-group">
    <label for="email">
     No of Copies
     <span>
      *
     </span>
    </label>
    <input id="copies" name="copies" type="text"/>
   </div>
   <div class="form-group">
    <label for="career">
     Author
    </label>
    <textarea id="author" name="author"></textarea>
   </div>
   <div class="form-group">
    <label for="about">
     About Author
    </label>
    <textarea id="about" name="about"></textarea>
   </div>
   <div class="line-break">
   </div>
   <input type="submit" value="Submit Book"/>
   <br>
   <a  class="button"style="background-color:red;" href="index">Back to home</a>
  </form>
  <!-- partial -->
  <script src="{% static './script.js' %}">
  </script>
 </body>
</html>
